<!DOCTYPE html>
<html>
<head>
  <title>Recloud</title>
	<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
	<script type="text/template" id="sc_template">
		<li class="results"><img class="{{ title }}" id="{{ artist }}" src="{{ image }}"><div class="embed" id="{{ url }}">{{ embed }}</div><button id="{{ stream }}" class="save btn-sm"><i class="glyphicon glyphicon-music"></i><i class="glyphicon glyphicon-plus"></i></button></li>
	</script>
	<script type="text/template" id="sound_template">
	<img class="{{ title }}" id="{{ artist }}" src="{{ image }}"><div class="embed" id="{{ url }}">{{ embed }}</div><button id="{{ stream }}" class="delete btn-sm"><i class="glyphicon glyphicon-remove" id="{{ id }}"></i></button>
	</script>
 		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/slate/bootstrap.min.css" rel="stylesheet">
 	<%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Nosifer' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
